<script>
    window.addEventListener("pageshow", function (event) {
        var historyTraversal = event.persisted ||
            (typeof window.performance != "undefined" &&
                window.performance.navigation.type === 2);
        if (historyTraversal) {
            // Handle page restore.
            window.location.reload();
        }
    });

</script>


<% if (locals.login ) { %>
    <script>
        $('#modal-form-login').modal('show');
    </script>
    <% } %>




        <div class=" text-white pt-5 bg-gradient-dark" id="infoFotter">
            <!-- Grid container -->
            <div class="container" style="min-height: 250px;">

                <div class="row">
                    <!-- COlumn 1 -->
                    <div class="col">
                        <div>
                            <h3 class="text-white">CONTACT US</h3>
                        </div>
                        <div>
                            <i class="far fa-phone-square text-white"> 09129929929</i>

                        </div>
                        <div>
                            <i class="far fa-envelope text-white"> theneptunehouse111@gmail.com</i>
                        </div>
                        <div>
                            <i class="fal fa-map-marker-alt text-white"> Trường ĐH KHTN, TP-HCM</i>

                        </div>
                    </div>
                    <!-- end COlumn 1 -->


                    <div class="col">
                        <form action="">
                            <!--Grid row-->
                            <div class="row d-flex justify-content-start">
                                <!--Grid column-->

                                <span class="pt-2 pb-2">
                                    <strong>Do yout have questions?</strong>
                                </span>

                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-8 col-12">
                                    <!-- Email input -->
                                    <div class="form-outline form-white mb-4">
                                        <input type="email" id="form5Example29" style="color:black"
                                            placeholder="Write your questions here..." class="form-control" />
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-auto">
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-outline-light mb-4">
                                        Send
                                    </button>
                                </div>
                                <!--Grid column-->
                            </div>
                            <!--Grid row-->


                            <!-- Section: Social media -->



                        </form>

                        <section class="mb-4 mt3">
                            <!-- Facebook -->

                            <p class="mb-2"> <b>Connection</b></p>
                            <a class="btn btn-outline-light btn-floating m-1" href="#"><i
                                    class=" fab fa-facebook-f"></i></a>

                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#"><i
                                    class=" fab fa-twitter"></i></a>

                            <!-- Google -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#"><i
                                    class=" fab fa-google"></i></a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#"><i
                                    class=" fab fa-instagram"></i></a>

                            <!-- Linkedin -->
                            <a class="btn btn-outline-light btn-floating m-1" href=""><i
                                    class="fab fa-linkedin-in"></i></a>

                            <!-- Github -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!"><i
                                    class=" fab fa-github"></i></a>
                        </section>
                    </div>
                </div>

            </div>


        </div>


        <!-- Grid container -->