<div class="fs-1  fw-bold  text-center my-6" style="color: red;">
    THE NEPTUNE HOUSE
</div>
<div class="row my-5">
    <div class="col-sm-6">
        <img src="/img/error/1.svg" class="img-fluid" alt="404 not found">
    </div>
    <div class="col-sm-6 d-flex flex-column align-items-center p-5">
        <div class="d-flex flex-column mt-5">
            <div class="d-flex justify-content-around align-items-center">
                <div class="fw-bold fs-2 me-3">Bạn đang bị lạc</div>
                <i class="far fa-sad-cry fw-bold fs-2 text-danger"></i>
            </div>
        </div>

        <button onclick="history.back()" type="button" style="max-width: 50%;"
            class="btn btn-primary d-flex align-items-center mt-5 ">
            <i class="fas fa-exchange-alt me-3">

            </i>Quay Lại
        </button>

    </div>

</div>